/* ----------------------RESET---------------------- */
img{
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Button Reset */
.btn{
  border-radius: 1.2rem;
  padding: 0.45rem 0.85rem;
}

/* ----------------------General---------------------- */
body{
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.ps_lens_size{
  width: 30px;
  margin-left: 1.3rem;
}

.ps_chevorn_size{
  width: 12px;
  margin-right: 1.2rem;
}

/* ----------------------HEADER---------------------- */
header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 50;
  font-family: Helvetica, arial, sans-serif;
  font-weight: 600;
}

/* HEADER TOP */
.ps_header_top{
  height: 40px;
  background-color: black;
}

.ps_header_top img{
  display: block;
  width: 100px;
  margin-left: auto;
  padding-top: 12px;
  padding-right: 0.6rem;
}

/* HEADER BOTTOM */
.ps_header_bottom{
  background-color: white;
}
/* Menu left */
.ps_card_menu-left img{
  width: 60px;
}
.ps_card_menu-left{
  padding: 0.6rem 0;
}
/* Menu right */
.ps_card_menu-right li{
  margin: 0 5px;
}

.ps_card_menu-left li{
  margin-left: 5px;
}

/* ----------------------MAIN---------------------- */
main{
  padding-top: 119px;
}

/* BANNER */
.ps_banner{ 
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Banner Img */
.ps_rituals_banner{
  background-image: url("../img/jumbo-bg.png");
  height: 800px;
}

.ps_takestwo_banner{
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  height: 700px;
}

/* Banner Text */
.ps_text_banner{
  position: absolute;
  bottom: 60px;
  color: white;
  width: 80%;
  
}

/* Banner Img */
.ps_rituals_banner .ps_text_banner img{
  width: 80%;
}

.ps_takestwo_banner .ps_text_banner img{
  width: 50%;
}

/* Banner Title */
.ps_rituals_banner .ps_text_banner h3{
  font-size: 3rem;
  padding: 2rem 0;
}

.ps_takestwo_banner .ps_text_banner h3{
  font-size: 2.5rem;
  padding: 2rem 0;
}

/* Banner description */
.ps_text_banner p{
  font-size: 1rem;
}

/* Banner btn */
.ps_text_banner .btn{
  font-size: 1.2rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-top: 2.2rem;
}

/* Color e Btn Color */
.ps_btn_darkgrey{
  background-color: #363636;
  color: white;
}

.ps_btn_red{
  background-color: #cd3d10;
  color: white;
}

/* Media Queries */
@media (min-width: 1200px){

  /* Banner */
  .ps_rituals_banner .ps_text_banner img{
    width: 45%;
  }

  .ps_text_banner{
    width: 30%;  
  }

  .ps_takestwo_banner .ps_text_banner img{
    width: 45%;
  }

 }