/* ----------------------RESET---------------------- */
img{
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Button Reset */
.btn{
  border-radius: 1.2rem;
  padding: 0.45rem 0.85rem;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.nav-link{
  font-size: 0.9rem;
  display: inline-block;
}
/* ----------------------General---------------------- */
body{
  font-family: Arial, sans-serif;
}

.ps_lens_size{
  width: 30px;
  margin-left: 1.3rem;
}

.ps_chevorn_size{
  width: 12px;
  margin-right: 0.6rem;
  padding: 0.8rem 0;
  content: url(../img/chevron-down-solid.svg);
  display: inline-block;
  vertical-align: bottom;
}

.ps_chevorn_size:hover{
  content: url(../img/chevron-down-solid.svg);
  transform: rotate(180deg);
}

.ps_opacity_filter{
  opacity: 0.5;
}

.ps_opacity_filter:hover{
  opacity: 1;
  border-bottom: 2px solid #0072cd;
}

.ps_underline{
  border-bottom: 2px solid #0072cd;
}

/* Section Padding and Titles */
.ps_section_custom_padding{
  padding: 4rem 0 3rem;
}

.ps_section_custom_text{
  padding-top: 2.5rem;
}

.ps_section_custom_text h5{
  text-transform: uppercase;
  font-size: 1rem;
  color: #187fd2;
  font-weight: 600;
}
.ps_section_custom_text h2{
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-weight: 500;
}
.ps_section_custom_text p{
  font-size: 1.4rem;
  color: #727272;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.ps_section_custom_text button{
  margin-top: 1.2rem;
}

.ps_section_custom_text h3{
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

/* PS Right Banner */
.ps_right_banner img{
  height: 100%;
  width: 100%;
}

.ps_right_banner_text img{
  height: 100%;
  width: 60%;
  margin-top: 2rem;
}

.ps_right_banner_text p{
  padding: 2rem 0;
  font-size: 1.05rem;
}

.ps_right_banner_text a{
  margin-bottom: 2.3rem;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0 / 100%);
}

/* Animation */
.ps_animantion_up:hover{
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes example {
  0%   {left:0px; bottom: 0px;}
  50%  {left:0px; bottom: 20px;}
  100% {left:0px; bottom:0px;}
}

/* ----------------------HEADER---------------------- */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  font-family: Helvetica, arial, sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}

/* HEADER TOP */
.ps_header_top{
  height: 40px;
  background-color: black;
}

.ps_header_top img{
  display: block;
  width: 100px;
  margin-left: auto;
  padding-top: 12px;
  padding-right: 0.6rem;
}

/* HEADER BOTTOM */
.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
}

/* HEADER BOTTOM IMG PS */
.ps_logo_header{
  width: 50px;
}

.navbar-expand-lg .navbar-nav .play-menu {
  display: flex;
  justify-content: center;
}

.navbar-expand-lg .navbar-nav .play-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
/* HEADER BOTTOM LINKS */
.navbar-expand-lg .navbar-nav .bottom-play-menu ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* ----------------------MAIN---------------------- */
main{
  padding-top: 119px;
  overflow-x: hidden;
}

/* BANNER */
.ps_banner{ 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
}

/* Banner Img */
.ps_rituals_banner{
  background-image: url("../img/jumbo-bg.png");
  height: 800px;
}

.ps_takestwo_banner{
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  height: 700px;
}

/* Banner Text */
.ps_text_banner{
  position: absolute;
  bottom: 60px;
  color: white;
  width: 95%;
}

/* Banner Img */
.ps_rituals_banner .ps_text_banner img{
  max-width: 60%;
}

.ps_takestwo_banner .ps_text_banner img{
  max-width: 50%;
}

/* Banner Title */
.ps_rituals_banner .ps_text_banner h3{
  font-size: 3rem;
  padding: 2rem 0;
}

.ps_takestwo_banner .ps_text_banner h3{
  font-size: 2.5rem;
  padding: 2rem 0;
}

/* Banner btn */
.ps_text_banner .btn{
  font-size: 1.2rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-top: 2.2rem;
}

/* PS Games Exclusives */
.ps_gams_exclusive img{
  border-radius: 18px;
}

.ps_game_selected{
  border: 2px solid #0072cd;
  padding: 0.2rem;
}

/* PS New Exit */
.ps_new_exit{
  padding: 2rem 0.6rem;
  color: white;
  background-color: #1f1f1f;
}

/* New Exit Img */
.ps_new_exit img{
  border-radius: 18px;
}

.ps_new_exit p{
  padding-top: 0.6rem;
  font-size: 1rem;
}

/* New Exit Titles */
.ps_new_exit_title h2{
  font-size: 2.2rem;
  font-weight: 500;
}

.ps_new_exit_title p{
  font-size: 1.7rem;
}

/* Explore ps4 */
.ps_explore_ps4 span{
  font-size: 1.3rem;
  vertical-align: super;
}

.ps_explore_ps4 a{
  margin: 1.4rem 0;
}

/* Secial Media */
.ps_social_media{
  padding: 3.4rem;
}
.ps_social_media h4{
  font-size: 2.5rem;
  padding-bottom: 3.4rem;
}

/* Footer */
footer{
  background-color: #00439c;
  color: white;
  padding: 4.5rem 0;
}

footer ul{
  padding: 1rem  0 0 2.8rem;
}

/* Ps Footer Logo */
.ps_logo_footer img{
  width: 120px;
}

/* Country region */
.ps_coutry_region img{
  width: 25px;
}
.ps_coutry_region{
  margin: 2rem 0;
}
.ps_coutry_region span{
  vertical-align: middle;
  padding-left: 1rem;
}

/* PS Sony Brand */
.ps_sony_brand img{
  width: 140px;
  padding-top: 2rem;
}
.ps_sony_brand p{
  padding-top: 1rem;
}
.ps_sony_brand a{
  color: white;
}

/* Color e Btn Color */
.ps_btn_darkgrey{
  background-color: #363636;
  color: white;
}

.ps_btn_darkgrey:hover{
  background-color: #363636;
  color: white;
}

.ps_btn_red{
  background-color: #cd3d10;
  color: white;
  
}

.ps_btn_red:hover{
  background-color: #cd3d10;
  color: white;
}

.ps_btn_dark_blue{
  background-color: #2c64e6;
  color: white;
}

.ps_btn_dark_blue:hover{
  background-color: #2c64e6;
  color: white;
}

.ps_btn_dark_white{
  color: #2c64e6;
  background-color: #d9dadc;
}

.ps_btn_dark_white:hover{
  color: #2c64e6;
  background-color: #d9dadc;
}

.ps_btn_white{
  color: black;
  background-color: white;
}

.ps_bkg_sand{
  background-color: #bebcbb;
}

.ps_bkg_night{
  background-color: #161c3b;
}

.ps_color_white{
  color: white;
}

/* Media Queries */
@media (min-width: 768px) {
  .ps_accessory_list img{
    padding: 2rem 2rem 1rem;
  }

  .ps_right_banner_text img{
    margin-top: 2rem;
  }

  .ps_right_banner_text a{
    margin-bottom: 1rem;
  }
}

@media (min-width: 1200px){

  /* Banner */
  .ps_rituals_banner .ps_text_banner img{
    max-width: 50%;
  }

  .ps_text_banner{
    max-width: 30%;  
  }

  .ps_takestwo_banner .ps_text_banner img{
    max-width: 50%;
  }

  .ps_sony_brand{
    width: 50%;
  }
 }

 @media screen and (max-width: 768px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
      top: 100%;
  }
}

.vvvv *{
  vertical-align: middle;
}

.ps_button_border{
  padding: 2px;
  border: 2px solid white;
}
.ps_button_border:hover{
  border: 2px solid red;
  border-radius: 30px;
  padding: 2px;
  transform: scale(0.95);
}